<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117009758684-dk35q4s9skncrgia8n2bovp13d24nkhc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117009758684-dk35q4s9skncrgia8n2bovp13d24nkhc</string>
	<key>API_KEY</key>
	<string>AIzaSyB42zklef9pJ75UBmaOUjD5xOBgqf2eM_I</string>
	<key>GCM_SENDER_ID</key>
	<string>117009758684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mcart</string>
	<key>PROJECT_ID</key>
	<string>mcart-47ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>mcart-47ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117009758684:ios:d5beb24fb19865b538f719</string>
</dict>
</plist>